.calculator {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 40vh;
  border-radius: 8px;
  padding: 10px;
  justify-content: space-around;
  min-width: 300px;
  min-height: 400px;
  margin: 15px auto;
}

main {
  width: 100%;
  min-height: 80vh;
  color: black;
}

main h2 {
  color: black;
}
