.quote-section {
  margin-top: 10rem;
}

.quote-section q {
  font-size: 2rem;
}

.quote-section span {
  display: block;
  text-align: right;
  margin: 3rem;
  padding-right: 8rem
}

@media screen and (max-width: 500px) {
  
  .quote-section q {
    display: flex;
    font-size: 2rem;
    line-height: 2rem;
  }

  .quote-section span {
    display: flex;
    align-self: right;
    font-size: 2rem;
    margin: 1rem;
    padding-right: 8rem
  } 
}
